.item {
  width: auto;
  height: auto;
  color: wheat;
  border: 1px solid wheat;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.poster {
  width: 88%;
  height: auto;
}

.title {
  font-size: 2.5vmin;
}
