.form {
  width: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 20px;
}

.name,
.phone {
  width: 30vmin;
  height: 7vmin;
}

.name::placeholder,
.phone::placeholder {
  color: black;
  font-size: 1rem;
  padding-left: 5px;
}

.name:invalid,
.phone:invalid {
  outline: 2px solid lightcoral;
}

.name:valid,
.phone:valid {
  outline: 2px solid lightgreen;
}

.button {
  outline: 3px solid indigo;
  width: 20vmin;
  height: 7.5vmin;
}
