.header {
  width: 100%;
  color: #68d;
  box-shadow: 0 0 32px black;
  background-size: 150% 100%;
  background-position: 0% 50%;
  background-image: linear-gradient(35deg, transparent 35%, lavender 50%, transparent 65%);
  animation: 4s linear diagonal;
  animation-delay: 0;
}

.title {
  font-size: 6rem;
  text-align: center;
  text-shadow: 8px 8px 16px #003;
  margin: 32px 0;
}

@keyframes diagonal {
  0% {
      background-position: 0% 50%;
  }
  25% {
      color: #34b;
      background-position: 50% 50%;
  }
  50% {
      color: #34b;
      background-position: 100% 50%;
  }
  75% {
      color: #34b;
      background-position: 50% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
