.header {
  width: 100%;
  color: #68d;
  box-shadow: 0 0 32px black;
  background-size: 150% 100%;
  background-position: 0% 50%;
  background-image: linear-gradient(35deg, transparent 35%, lavender 45% 50%, transparent 60%);
  -webkit-animation: 4s linear diagonal;
  -moz-animation: 4s linear diagonal;
  animation: 4s linear diagonal;
}

.title {
  font-size: 8vmax;
  text-align: center;
  text-shadow: 8px 8px 16px #003;
  margin: 32px 0 16px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

@keyframes diagonal {
  0% {
    background-position: 0% 50%;
  }
  25% {
    color: #34b;
    background-position: 50% 50%;
  }
  50% {
    color: #34b;
    background-position: 100% 50%;
  }
  75% {
    color: #34b;
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
