html,
body {
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
		-moz-box-sizing: inherit;
			box-sizing: inherit;
}

html,
body {
    height: 100%;
    color: #68b;
    background-color: #309;
    background-image: url('./assets/background.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
